<img src="assets/img/banner_main.jpg" alt="" style="width:100%;max-height:40vh;">
<div class="container container-fluid">
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(5)">GRADE <span class="grade-num">5</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(6)">GRADE <span class="grade-num">6</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(7)">GRADE <span class="grade-num">7</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(8)">GRADE <span class="grade-num">8</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(9)">GRADE <span class="grade-num">9</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(10)">GRADE <span class="grade-num">10</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(11)">GRADE <span class="grade-num">11</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(12)">GRADE <span class="grade-num">12</span></button>
    <button mat-raised-button class="button-grade" color="primary" (click)="onSelect(13)">GRADE <span class="grade-num">13</span></button>
  </div>

